.tutorial-card{
  background-color: white;
  margin: 2rem;
  padding: 2rem;
  display: grid;
  grid-template-rows: auto;
  border-radius: 20px;
  gap: 1rem;
  width: 15rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tutorial-scroll{
  overflow: none;
  display: grid;
  grid-template-rows: auto;
  gap: 1rem;
  position: relative;
}
.tutorial-buttons{
  display: none;
}
.tutorial-title{
  font-size: 1.5rem;
  line-height: 100%;
  font-weight: bold;
}
.tutorial-seo{
  display: grid;
  grid-template-columns: 0.35fr 5fr;
  height: 100%;
  font-size: 0.75rem;
}
.tutorial-border{
  border-left: 2px black solid;
}
.tutorial-block{
  height: auto;
}
.tutorial-wrapper{
  display: grid;
  grid-template-columns: 50% 50%;
}
.tutorial-label{
  font-size: 0.9rem;
  align-items: center;
}
.tutorial-field{
  justify-self: end;
  font-weight: bold;
  background-color: #d7d3d0;
  border-radius: 20px;
  width: 100%;
  height: 1.5rem;
}
.tutorial-button{
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-color: #b59d69;
  border-radius: 20px;
  height: 2rem;
  line-height: 2rem;
  transition: 0.3s;
  pointer-events: auto;
}
.tutorial-button:hover{
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-color: #57534e;
  border-radius: 20px;
  height: 2rem;
  line-height: 2rem;
  pointer-events: auto;
}
.tutorial-button[href=""]{
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-color: #d7d3d0;
  border-radius: 20px;
  height: 2rem;
  line-height: 2rem;
  pointer-events: none;
  cursor: not-allowed; 
}
.tutorial-close{
  position: absolute;
  right: -3rem;
  top: -3rem;
}
.tutorial-exit-container {
  position: relative;
  display: inline-block;
}
.tutorial-exit-wrapper {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 10rem;
  border: none;
  background-color: white;
  background: lightgray;
  box-shadow: 0 12px 16px -4px rgba(0,0,0,0.08), 0 4px 6px -2px rgba(0,0,0,0.03);
}
.tutorial-exit-wrapper select::-ms-expand,
.tutorial-exit-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  padding-right: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.tutorial-exit-wrapper::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.tutorial-exit-wrapper::after {
  background: url('https://raw.githubusercontent.com/wethestudy/wts-tree/main/src/assets/icons/fi-sr-cross-circle.svg') no-repeat center;
  background-size: contain;
  width: 1.25rem;
  height: 1.25rem;
}
.tutorial-exit-wrapper:hover{
  background: #b59d69;
}
.tutorial-exit-wrapper:active{
  background: #b59d69;
}