.search-wrapper{
    position: absolute;
    left: 3.75rem;
    top: 15rem;
    visibility: hidden;
    overflow: scroll;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2rem;
    height: 20rem;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .results{
    display: grid;
  }
  .search-results{
    display: flex;
    flex-direction: column;
  }
  .search-results a{
    border-radius: 20px;
    padding: 0.5rem 1rem;
  }
  .search-results a [id^=search-category]{
    margin-block-end: 0;
    font-size: small;
  }
  .search-results a [id^=search-name]{
    margin-block-start: 0;
    font-size: large;
    font-weight: 700;
  }
  .search-results a:hover{
    background-color: #d0d6d5;
  }
  .no-results{
    visibility: hidden;
    font-size: large;
    font-weight: 700;
  }

  @media only screen and (max-width: 840px) {
    .search-wrapper{
      position: absolute;
      left: 50%;
      top: 10rem;
      transform: translate(-50%, 0%);
      visibility: hidden;
      overflow: scroll;
      background-color: #ffffff;
      border-radius: 20px;
      padding: 2rem;
      height: 20rem;
      width: 65%;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}