.onboarding1{
    background-color: #00000090;
    backdrop-filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
    width: 27.5rem;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.onboarding1-modified{
    background-color: #00000090;
    backdrop-filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
    width: 27.5rem;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}