.track-wrapper{
  background-color: #ffffff;
  border-radius: 20px;
  padding: 1rem;
  height: auto;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 17rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.track-header{
  font-size: 1.5rem;
  font-weight: bold;
  /* margin-bottom: 1rem; */
}
.track-item-wrapper{
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.25fr;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
}
.track-item-wrapper-selected{
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.25fr;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
  background-color: #f4f4f4;
}
.track-item-wrapper:hover{
  background-color: rgba(211, 211, 211, 0.5);
}
.track-sub{
  font-size: 0.75rem;
  line-height: 0.5rem;
  margin: auto 0;
}
.track-title-wrapper{
  display: flex;
  gap: 0.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.track-title{
  font-size: 1rem;
  font-weight: 700;
  margin: auto 0;
}
.track-bar{
  width: 100%;
  height: 5px;
  background-color: lightgray;
  border-radius: 10px;
}
.track-bar-wrapper{
  background-color: green;
  height: 5px;
  border-radius: 10px;
}
.track-list-wrapper{
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  overflow: scroll;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 2rem;
  height: 20rem;
  visibility: hidden;
  width: 17rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.track-wrap{
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.index-button{
  color: black;
  text-decoration: underline;
  cursor: pointer;
}