/* General */
body {
  margin: 0;
  font-family: "Heebo";
  src: local("Heebo"),
    url("./assets/fonts/Heebo/Heebo-VariableFont_wght.ttf") format("truetype");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}
input:where([type="checkbox"], [type="radio"]){
  -webkit-appearance : none;
  appearance         : none;
  width              : 22px;
  height             : 22px;
  margin             : calc(0.75em - 11px) 0.25rem 0 0;
  vertical-align     : top;
  border             : 2px solid #ddd;
  border-radius      : 4px;
  background         : #fff no-repeat center center;
}
input[type="radio"]{
  border-radius : 50%;
}
input:where([type="checkbox"], [type="radio"]):where(:active:not(:disabled), :focus){
  border-color : #b59d69;
  outline      : none;
}
input:where([type="checkbox"], [type="radio"]):disabled{
  background : #d7d3d0;
}
input[type="checkbox"]:checked{
  background-image : url('https://raw.githubusercontent.com/wethestudy/wts-tree/main/src/assets/icons/checkbox.svg');
}
input[type="radio"]:checked{
  background-image : url('https://raw.githubusercontent.com/wethestudy/wts-tree/main/src/assets/icons/radio.svg');
}
label{
  font-weight: 400;
}
a{
  color: black;
}
.fake-body{
  font-size: 0.9rem;
  height: 100%;
  width: 100%;
}